{% trans_default_domain 'EsolvingShopcartBundle' %}
<div id="submenu">
    <ul>
        <li><a href="{{ path('esolving_shopcartB_Shop_no_moderates') }}">{% trans %}no_moderates{% endtrans %}</a></li>
        <li><a href="{{ path('esolving_shopcartB_Shop_moderates') }}">{% trans %}moderates{% endtrans %}</a></li>
    </ul>
</div>