{% extends "EsolvingShopcartBundle::template_user.html.twig" %}
{% trans_default_domain 'EsolvingShopcartBundle' %}
{% block title %}{% trans %}home{% endtrans %}{% endblock %}
{% block content %}
<div id="content-large">
    {#{{ html.jqueryUiGetNotice('asdf',1)}}#}
{#{{ dump(app.session.get('section')) }}#}
{#{% for role in app.user.roles %}
                    {{ role }}
                    {% endfor %}#}
        <h1>{{ block('title')}}</h1>
        This is the home
    </div>
{% endblock content%}

