{% extends 'EsolvingShopcartBundle::template_guest.html.twig' %}
{% trans_default_domain "EsolvingShopcartBundle" %}
{% block title %} {% trans %} news {% endtrans %}{% endblock %}
{% block content %}
<h1>{{ block('title') }}</h1>
Here are the news
{% endblock %}
